:root {
    --primaryColor: rgba(218, 80, 1, 0.815);
    --secondryColor: rgb(46, 45, 45);
    --tertiaryColor: rgba(197, 191, 7, 0.842);
    --hoverBgColor1: rgba(255, 255, 255, 0.363);
    --quaternaryColor : rgba(247, 242, 233, 0.801);
}
@font-face {
    font-family: glory;
    src: url(./assets/fonts/Glory-VariableFont_wght.ttf);
}
@font-face {
    font-family: museo;
    src: url(./assets/fonts/MuseoModerno/MuseoModerno-VariableFont_wght.ttf);
}
@font-face {
    font-family: advent;
    src: url(./assets/fonts/Advent_Pro/AdventPro-VariableFont_wdth\,wght.ttf);
}

* {
    padding: 0;
    margin: 0;
}
body {
    min-height: 100vh;
    max-width: 100vw;
    padding: 0%;
    margin: 0%;
    p,h1,h2,h3,h4,a {
        font-family: glory,sans-serif,arial;
    }
    a:hover {
        color: var(--secondryColor);
        text-decoration: underline;
    }
    ul,ol {
        font-family: advent;
        font-size: 1em;
        color: rgba(7, 7, 7, 0.678);
    }
}
svg {
    width: 16px;
    height: 16px;
}
a {
    color: var(--secondryColor);
    font-weight: 400;
    font-family: glory;
}

                    /* --- container ----  */
                    
.container {
    width: 85%;
    height: 100%;
    margin: auto;
    /* border: 1px solid black; */
}

                    /* ----- HEADER ------  */
                    
header {
    background-color: var(--primaryColor);
    height: 4em;
    div.container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
        color: white;
    }
    
}

div#headIcons {
    width: 20%;
    height: 1em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

                    /* ------- Navbar ------  */

nav {
    height: 6em;
    div.container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around; 
    }
 
}
div.logo, div#navMenu  {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
} 

div.logo {
    width: 20%;  
    font-family: museo;
    color: var(--secondryColor);
    h1::first-letter  {
        color: rgb(1, 190, 32);
        font-size: xx-large;
        font-weight: 400;
    }
    h1::after {
        content: "'";
        color: rgb(1, 190, 32);
    }
}
div#navMenu  {
    width: 70%;
    /* border: 1px solid black; */
    justify-content: space-around;
    a {
        text-decoration: none;
    }
    a:hover {
        color: var(--primaryColor);
    }
}
div#hamBurger {
    /* border: 1px solid black; */
    padding: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

                        /* ----- COurse -----  */

section#course  {
    background-color: var(--quaternaryColor);
}
section#course > div.container {
    
    /* width: 100%; */
    height: 5em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}


                        /* ------ display Section ------  */

section#display {
    margin-top: 3em;
    width: 100%;
    height: 34em;
}
section#display  div.container {
    /* width: 100%;
    height: 100%; */
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    /* background-color: blue; */
}
div#displayHead {
    width: 100%;
    height: 4em;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: space-around;
    /* background-color: yellow; */
}
div#displayIcons {
    width: 100%;
    height: 8em;
    /* background-color: aqua; */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 1em 0em;
}
.displayIcons {
    /* background-color: yellowgreen; */
    width: 10%;
    height: 4em;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: grayscale(5);
}
#htmlIcon {
    background-image: url(./assets/images/html.jfif);
}
#cssIcon {
    background-image: url(./assets/images/css.png);
}
#jsIcon {
    background-image: url(./assets/images/js.png);
    height: 100%;
}
.displayIcons:hover {
    filter: grayscale(0);
    cursor: pointer;
}
                /* 2 */
div#displayText {
    width: 100%;
    height: 16em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
div.detailsCard {
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    h2 {
        border-bottom: 2px solid var(--primaryColor);
        padding-bottom: 4px;
    }

}
div#displayDetails {
    /* background-color: lime; */
    width: 30%;
    height: 100%;
    ul {
        list-style: none;
        font-size: large;
        font-weight: 700;
        font-family: glory;
        display: flex;
        flex-flow: column wrap;
        gap: 0.5em;
    }
}
div#displayDescription {
    width: 65%;
    height: 100%;   
    overflow: hidden; 
    /* background-color: aqua; */
}
div#viewBtn {
    width: 90%;
    margin: 0px auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    a {
        background-color: var(--tertiaryColor);
        padding: 0.5em 1em;
        color: white;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
        background-color: var(--secondryColor);
    }
}



                    /* ----- pricing section ------  */
section#pricing {
    width: 100%;
    height: 45em;
    margin: 3em 0em;
    border-top : 1px solid rgb(226, 226, 226);
    /* background-color: bisque; */
}
section div.container {
    height: 100%;
}
div#pricingHead {
    margin: auto;
    width: 100%;
    height: 25%;
    /* background-color: yellow; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    h2 {
        color: var(--secondryColor);
    }
    h1 {
        font-size: 3em;
        color: var(--primaryColor);
    }
    p {
        width: 40%;
        text-align: center;
        color: rgb(80, 79, 79);
    }
}
div#pricingSection {
    width: 100%;
    height: 75%;
    /* background-color: aqua; */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 2em;
    h1,h2,h3,p,span,a {
        font-family: glory;
    }

}
div.pricingDetails {
    width: 30%;
    height: 80%;
    background-color: var(--quaternaryColor);
    border-radius: 1em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    border: 1px ridge var(--primaryColor);
    box-sizing: content-box;
}
div.pricingDetails:hover {
    box-shadow: 4px 12px 8px rgb(182, 179, 179);
    cursor: pointer;
}
div.screen {
    background-color: white;
    width: 90%;
    height: 30%;
    border-radius: 1em;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
}
div.screen-top{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    /* background-color: rgb(64, 70, 68); */
    svg {
        width: 2em;
        height: 2em;
    }
}
div.plan {
    background-color: var(--quaternaryColor);
    border: 1px solid rgb(223, 219, 219);
    padding: 0.5em;
    border-radius: 2em;
}
div.screen-btm {
    width: 100%;
    height: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    h1 {
        color: var(--primaryColor);
        font-size: xx-large;
    }
    span {
        font-size: 0.5em;
        color: var(--secondryColor);
    }
}
div.details {
    /* background-color: lightblue; */
    width: 100%;
    height: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
    ul {
        font-weight: 600;
        width: 70%;
        margin: 2.3em auto;
        list-style: circle;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: start;
        gap: 0.4em;
        height: 60%;
    }
}
div.buyBtn {
    /* width: 50%; */
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    a {
        width: 50%;
        background-color: var(--primaryColor);
        padding: 0.5em 2em;
        border-radius: 2em;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0.5em;
        text-decoration: none;
    }
    a:hover {
        background-color: var(--tertiaryColor);
        text-decoration: underline;
    }
}



                        /* -------- Share this ---------  */
.subH2 {
    border-bottom: 1px solid rgb(216, 215, 215);
    width: 100%;
    padding-bottom: 0.5em;
} 
section#shareLinks {
    width: 100%;
    height: 8em;
    /* background-color: blue; */
}
section#shareLinks > div.container {
    width: 92%;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: space-around; 
}
#shareLinkColl {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em;

}
.shareLink {
    padding: 0.5em 1em;
    a {
        color: white;
        text-decoration: none;
        display: flex;
        gap: 0.5em;
    }
}
.shareLink:hover {
    filter: opacity(0.8);
    a {
        color: white;
        text-decoration: none;
    }
}



                        /* ------------ Other Courses --------------  */

section#otherCourses {
    width: 100%;
    height:  50em;
    margin-top: 4em;
    .container {
        width: 92%;
        /* margin: auto; */
        /* background-color: yellow; */
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content:flex-start;
        gap: 3em;
    }
}
div#courseColl {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
div.Course {
    width: 30%;
    height: 20em;
    transition: all 100ms linear;
    /* border: 1px solid black; */
    border: 1px solid rgb(211, 211, 211);

}
div.courseImg {
    width: 100%;
    height: 60%;
    background-image: url(./assets/images/react-logo.png);
    background-size: cover;
    background-position: center;
}
div.courseDetails {
    height: 40%;
    width: 100%;
    padding: 1em;
    background-color: var(--quaternaryColor);
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-around;
    box-sizing: border-box;
    .rating {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
    h2 > a {
        background-color: var(--primaryColor);
        padding: 0.2em 1em;
        font-size: medium;
        color: white;
        text-decoration: none;
        border-radius: 0.2em;
    }
    h2 > a:hover {
        background-color: var(--secondryColor);
    }
}
div.c2 {
    background-image: url(./assets/images/python.jpeg);
}
div.c3 {
    background-image: url(./assets/images/AdobeExpressLogo.jpg);
}
div.c4 {
    background-image: url(./assets/images/fluter.jfif);
}
div.c5 {
    background-image: url(./assets/images/WP.jfif);
}
div.c6 {
    background-image: url(./assets/images/unity.jfif);
}
div.Course:hover {
    box-shadow: 5px 15px 8px var(--secondryColor), 5px 8px 10px white inset;
    cursor: pointer;
}


                    /* -------------- Line -------------  */

section#line {
    margin-top: 3em;
    width: 100%;
    height: 5em;
    border-top: 1px solid rgb(214, 213, 213);
    border-bottom: 1px solid rgb(214, 213, 213);
    .container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        p {
            font-size: x-large;
        }
    }
    #moreBtn {
        background-color: var(--primaryColor);
        font-size: large;
        padding: 0.5em 1em;
        a {
            color: white;
            text-decoration: none;
        }
    }
    #moreBtn:hover {
        background-color: var(--tertiaryColor);
        cursor: pointer;
        a {
            color: black;
        }
    }
}


                        /* ------- footer links ---------- */
section#footerLinks {
    width: 100%;
    height: 30em;
    background-color: var(--secondryColor);
    .container {
        display: flex;
        flex-flow: row nowrap;
        height: 90%;
        div.logo {
            width: 60%;
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: flex-start;
            box-sizing: border-box;
            gap: 1em;
            margin: 1em;
            p {
                color: white;
                width: 65%;
            }
            h1 {
                color: white;
                font-size: 5em;
                width: 100%;
            }
            h1::first-letter  {
                color: rgb(1, 190, 32);
                font-size: 1em;
                font-weight: 400;
            }
        }
    }

}
div#linksSec {
    width: 30%;
    height: 100%;
    margin-top: 2em;
    /* background-color: blue; */
    display: flex;
    flex-flow: column nowrap;
    padding: 0.5em 2em;
    align-items: flex-start;
    justify-content: flex-start;
    ul {
        list-style: none;
        width: 100%;
        height: 80%;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: space-around;
        dd {
            font-size: x-large;
            height: 100%;
            padding: 0em 0.5em;
            color: white;
        }
        li {
            border-top: 1px solid rgb(90, 89, 89);

        }
        li,a {
            color: white;
            text-decoration: none;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0.2em;
        }
        li:hover {
            background-color: rgba(255, 255, 255, 0.363);
        }
    }
}


                        /* ----- footer ------  */
footer {
    width: 100%;
    height: 4em;
    color: white;
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
        color: rgb(216, 214, 214);
    }
    svg {
        width: 40px;
        height: 40px;
        transform: rotate(270deg);
    }
}



                        /* ======Media Queries=========  */

@media (max-width : 900px) {
    .container {
        width: 95%;
    }
    header > div.container {
        justify-content: space-around;
    }
    div#navMenu {
        display: none;
    }
    div#hamBurger {
        display: flex;
    }
    section#display  {
        height: 40em;
    }
    section#display div.container {
        width: 95%;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content:  start;
        gap: 0.5em;
        overflow: hidden;
    }
    div#diplayHead {
        width: 100%;
        padding: 0;
    }
    div#displayText  {
        flex-flow: column nowrap;
        height: 30%;
    }
    section#display {
        height: 55em;
        .container {
            align-items: flex-start;
            justify-content: flex-start;
        }
    }
    div#displayText {
        height: 70%;
        .detailsCard {
            width: 80%;
            justify-content: center;
            align-items: flex-start; 
            margin: 0em auto 0em 0em;
        }
        
    }
    #jsIcon {
        background-size: cover;
        height: 4em;
    } 
    section#otherCourses {
        height: 65%;
    }
    div.Course {
        width: 45%;
    }
    div#courseColl {
        height: 100%;
        gap: 1em;
    }
    footer {
        p {
            font-size: small;
        }
    }
}  

@media (min-width : 900px)   {
    div#hamBurger {
        display: none;
    }
}
@media (max-width : 750px) {
    div.pricingDetails {
        width: 50%;
        height: 30%;
    }
    section#pricing {
        height: 120em;
    }
    div#pricingSection {
        height: 85%;
    }
    div#pricingHead {
        height: 10%;
    }
}

@media (max-width: 650px) {
    .container {
        width: 100%;
    }
    header > div.container {
        flex-flow: column wrap;
        justify-content: space-around;
    }
    div#pricingSection {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-around;
        height: 80%;
    }
    section#pricing {
        height: 90em;
        .container {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
        }
    }
    /* #pricingHead {} */
    div.pricingDetails {
        height: 90%;
        justify-content: center;
        width: 40%;
    }
    div.details {
        justify-content: center;
        ul {
            margin: 0.2em 0em 0.5em 0.5em;
            font-size: small;
        }
    }
    div.screen {
        height: 35%;
        justify-content: center;
        align-items: center;
        margin:  0.4em auto;
    }
    div#displayIcons {
        height: 5em;
        justify-content: space-around;
    }
    .displayIcons {
        /* background-color: yellowgreen; */
        width: 14%;
        height: 100%;
        background-size: contain;
    }
    div.Course {
        width: 85%;
        height: 15%;
    }
    div#courseColl {
        height: 100%;
        gap: 1em;
        justify-content: center;
    }
    div.courseImg {
        height: 60%;
    }
    section#otherCourses {
        height: 150em;
        .container {
            height: 100%;
        }
    }
    section#line .container {
        justify-content: space-around;
    }
    footer {
        p  {
            width: 70%;
        }
        svg {
            width: 30px;
            height: 30px;
        }
    }
    
}

@media (max-width: 500px) {
    div.pricingDetails {
        height: 90%;
        justify-content: space-around;
        align-items: center;
        width: 70%;
    }
    div#displayDetails {
        height: 40%;
    }
    div#pricingHead {
        h2 {
            font-size: 1.3em;
        }
        h1 {
            font-size: 2em;
        }
        p {
            font-size: small;
        }
    }
    div.buyBtn {
        width: 50%;
        align-self: center;
        justify-self: center;
    }
    
    section#shareLinks > div.container  {
        width: 90%;
        height: 100%;
        flex-flow: row wrap;
        justify-content: flex-start;
        gap: 1em;
        h2 {
            width: 100%;
            height: 15%;
        }
    }
    section#shareLinks {
        height: 10em;
        /* background-color: blue; */
    }
    #shareLinkColl {
        /* background-color: yellow; */
        width: 70%;
        height: 60%;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }
    div.Course {
        width: 100%;
    }
    section#line .container {
        /* margin: 1em 0em; */
        align-items: flex-start;
        justify-content: space-around;
    }
    section#footerLinks div.container div#linkSec {
        width: 60%;
    }
    section#footerLinks div.container div.logo {
        width: 40%;
    }
    section#footerLinks div.container div.logo h1 {
        font-size: 3em;
    }
    section#footerLinks div.container div.logo h1::first-letter {
        font-size: 1em;
    }
    section#footerLinks div.container div.logo p {
        font-size: small;
    }
    #jsIcon {
        /* background-size: cover; */
        height: 3em;
    } 
    div#headIcons {
        width: 7em;
    }
}

@media (max-width: 400px) {
    .container {
        width: 95%;
    }
    header p  {
        font-size: xx-small; 
        
    }
    header #headIcons {
        width: 80%; 
    }
    div#hamBurger {
        display: flex;
    }
    section#display {
        height: 65em;
        .container {
            align-items: flex-start;
            justify-content: flex-start;
        }
    }
    div#displayText {
        div#displayDescription {
            height: 100%;
            margin: 0%;
            width: 100%;
        }
        
    }
    div.pricingDetails {
        width: 90%;
    }
    div.buyBtn {
        a {
            font-size: x-small;
        }
    }
    #shareLinkColl {
        width: 100%;
    }
    div.c1 {
        background-size: contain;
        background-repeat: no-repeat;
        background-color: rgb(82 212 246);
    }
    section#line .container {
        justify-content: space-around;
        padding-top: 0.5em;
        padding: 1em 0em;
        border-bottom: none;
        p {
            font-size: 1em;
            width: 100%;
            text-align: center;
        }
    }
    section#footerLinks {
        margin-top: 4em;
        height: 40em;
        .container {
            width: 100%;
            height: 100%;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }
    section#footerLinks div.container div#linksSec {
        width: 100%;
        height: 60%;
        box-sizing: border-box;
        padding-left: 0.5em;
    }
    section#footerLinks div.container div.logo {
        width: 90%;
        height: 30%;
        box-sizing: border-box;
        p {
            width: 100%;
        }
    }
    footer {
        p {
            font-size: x-small;
            width: 80%;
        }
        svg {
            width: 20px;
            height: 20px;
        }
    }
    
    
}
@media (max-width: 320px) {
    div#pricingHead {
        h2 {
            font-size: 0.8em;
        }
        h1 {
            font-size: 1.5em;
        }
        p {
            font-size: x-small;
            width: 90%;
        }
    }
    div#viewBtn {
        width: 10em;
        height: 3em;
        a {
            display: flex;
            padding: 1em;
            font-size: small;
        }
    }
    #jsIcon {
        background-size: cover;
        height: 2em;
    } 
}
@media (max-width : 280px) {
    section#shareLinks {
        height: 20em;
        /* background-color: blue; */
        .container {
            justify-content: center;
            gap: 0.1em;
        }
    }
    #shareLinkColl {
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: flex-start;
    }
}
@media (max-width : 230px) {
    h2{
        font-size: large;
    }
    p,li,a,span {
        font-size: small;
    }
}
